 * {
color: grey;
padding: 0;

}

body {
 background-color: lightgray;
 margin-left: 30%;
 margin-right: 25%; 
 font-family: 'Open Sans', 'Montserrat', sans-serif;

 

}

.top {
    background-color : white;
    padding-top: 50px;
    padding-left: 10%; 
    padding-right: 10%;
    padding-bottom: 0%;
}

#h2{
    margin-top: 5%;
    position: relative;
    text-align: center;

}

.tim{
    
    text-justify: auto;
    text-align: center;
    margin-left:  5%;
    margin-right: 5%;
    padding-inline-start: 0%;

}

#red{
    text-align: center;
    color: red;
    position: relative;
    font-weight: bold;
   
}

.foto{
    
    border: 5px solid;
    border-color: grey;
    border-radius: 50%;
    position: relative;
    margin-left: 30%
    }

.button {
        background-color: rgb(236, 10, 10); 
        border: none;
        color: white;
        margin-left: 32%;
        margin-bottom: 5%;
        text-align: center;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

 .social {
    margin-top: 5%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    }    
 
 li {
 margin: 50px ;  
 text-align: center;
 display: inline-block;

 }

 .fab {
    text-decoration: none;
    text-align: center;
    font-size: 50px;
}
.flex {

    flex-direction: column;  
    background-color:white;
    justify-content: space-between;
}
span {

    background-color: lightgray;
    
}
.t2 {
    padding: 30px;
   
}

.Space {
    
    align-content: flex-start ;
    display: flex;
    align-items: flex-end;
}

.jos{
    align-content: flex-start ;
    display: flex;
    align-items: flex-start;
}

